.homePage{
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100vh;
}

.bg-image {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/securityPolice.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-text {
  width: 100%;
  text-align: center;
}
