<div class="edit-depProgram">
  <div class="edit-Form">
    <label>ID<input type="text" pInputText readonly [ngModel]="departmentProgram.id"/></label>
    <label>Department Name<p-dropdown
      class="drop"
      [options]="departments"
      [(ngModel)]="departmentProgram.department"
      optionLabel="name"
      dataKey="id"
    ></p-dropdown></label>
    <label>Program Type Name <p-dropdown
      class="drop"
      [options]="programs"
      [(ngModel)]="departmentProgram.program"
      optionLabel="name"
      dataKey="id"
    ></p-dropdown></label>


  </div>
  &nbsp;
  <div class="edit-button">
    <button pButton type="button" label="Save" icon="pi pi-check" (click)="saveBoolean()"></button>
    &nbsp;
    <button pButton type="button" label="Cancel" icon="pi pi-times" (click)="cancel()"></button>
  </div>
</div>
