<div class="edit-depProgram">
  <div class="edit-Form">
    <label>ID<input type="text" pInputText readonly [ngModel]="departmentProgram.id"/></label>
    <label>DepId<input type="text" pInputText [(ngModel)]="departmentProgram.departmentId"/></label>
    <label>ProgramTypeId<input type="text" pInputText [(ngModel)]="departmentProgram.programTypeId"/></label>

  </div>
  &nbsp;
  <div class="edit-button">
    <button pButton type="button" label="Save" icon="pi pi-check" (click)="saveBoolean()"></button>
    &nbsp;
    <button pButton type="button" label="Cancel" icon="pi pi-times" (click)="cancel()"></button>
  </div>
</div>
