<div class="edit-programType">
  <label>ID<input type="text" pInputText readonly [ngModel]="programType.id"/></label>
  <label>Name<input type="text" pInputText [(ngModel)]="programType.name"/></label>
  <label>Starts at<input type="text" pInputText [(ngModel)]="programType.startsAt"/></label>
  <label>Ends at<input type="text" pInputText [(ngModel)]="programType.endsAt"/></label>

  <div class="edit-button">
    <button pButton type="button" label="Save" icon="pi pi-check" (click)="save()"></button>
    <button pButton type="button" label="Cancel" icon="pi pi-time" (click)="cancel()"></button>
  </div>
</div>
