<div class="app-generic">
  <div class="app-header">
    <div class="app-logo">
    </div>
    <div class="app-menu">
      <a class="app-menu-link" routerLink=""> HomePage</a>
      <a class="app-menu-link" routerLink="overtime-hours"> Overtime Hours</a>
      <a class="app-menu-link" routerLink="overtime-hours-employee"> Employee Overtime Hours</a>
      <a class="app-menu-link" routerLink="#"> Link 4</a>
      <a class="app-menu-link" routerLink="#"> Link 5</a>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
