.app-generic{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.app-header{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.app-logo {
  width: 48px;
  height: 76px;
  background-image: url("../assets/heraldicaPolitiaRomana.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 5px;

}

.p-menubar {
width: 95%;
  display: flex;
  justify-content: center;
}
