<div class="edit-oth">

  <label>ID<input type="text" pInputText readonly [ngModel]="overtimeHour.id"/></label>
  <label>Performed at<p-calendar
    dateFormat="dd/mm/yy"
    [(ngModel)]="overtimeHour.performedAt"
  ></p-calendar></label>
  <label>Started at<p-calendar
    [timeOnly]="true"
    [(ngModel)]="overtimeHour.startedAt"
  ></p-calendar></label>
  <label>Ended at<p-calendar
    [timeOnly]="true"
    [(ngModel)]="overtimeHour.endedAt"
  ></p-calendar></label>
  <label>Number of hours<input type="text" pInputText [(ngModel)]="overtimeHour.numberOfHours"/></label>
  <label>Expires at<p-calendar
    dateFormat="dd/mm/yy"
    [(ngModel)]="overtimeHour.expiresAt"
  ></p-calendar></label>

  <label>Legal day off<p-dropdown
    class="drop"
    [options]="daysOff"
    [(ngModel)]="overtimeHour.legalDayOff"
    optionLabel="dayOff"
    dataKey="id"
  ></p-dropdown></label>
  <label>Valid number of days <p-dropdown
    class="drop"
    [options]="validNumberOfDays"
    [(ngModel)]="overtimeHour.validNumberOfDays"
    optionLabel="validNumberOfDays"
    dataKey="id"
  ></p-dropdown></label>
  <p-checkbox [(ngModel)]="overtimeHour.enabled" label="Enabled" [binary]="true"></p-checkbox>
  <p-checkbox [(ngModel)]="overtimeHour.isWeekend" label="Is weekend" [binary]="true"></p-checkbox>

  <div class="edit-button">
    <button pButton type="button" label="Save" icon="pi pi-check" (click)="save()"></button>
    &nbsp;
    <button pButton type="button" label="Cancel" icon="pi pi-time" (click)="cancel()"></button>
  </div>

</div>
