.edit-oth{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding-top: 20px;
  justify-self: center;
  align-self: center;
}
label, input, .drop, .p-checkbox {
  width: 160px;
  text-align: center;
  padding-top: 10px;
  padding-right: 10px;
  margin-right: 10px;
  margin-top: 3px;
}
