<div class="editOTH">

  <label>PerformedAt</label><input type="text" pInputText [(ngModel)]="overtimeHour.performedAt"/>
  <label>StartedAt</label><input type="text" pInputText [(ngModel)]="overtimeHour.startedAt"/>
  <label>EndedAt</label><input type="text" pInputText [(ngModel)]="overtimeHour.endedAt"/>
  <label>NumberOfHours</label><input type="text" pInputText [(ngModel)]="overtimeHour.numberOfHours"/>
  <label>ExpiresAt</label><input type="text" pInputText [(ngModel)]="overtimeHour.expiresAt"/>
  <label>IsWeekend</label><input type="text" pInputText [(ngModel)]="overtimeHour.isWeekend"/>
  <label>Enabled</label><input type="text" pInputText [(ngModel)]="overtimeHour.enabled"/>
  <label>LegalDayOffId</label><input type="text" pInputText [(ngModel)]="overtimeHour.legalDayOffId"/>
  <label>ValidNumberOfDaysId</label><input type="text" pInputText [(ngModel)]="overtimeHour.validNumberOfDaysId"/>


</div>
