.edit-oth {
  display: flex;
  flex-flow: row wrap;
  width: 45%;
  padding-top: 20px;
  justify-self: center;
  align-self: center;
}
label {
  width: 100px;
  text-align: center;
  padding-top: 10px;
}
