<div class="edit-oth">

  <label>ID<input type="text" pInputText readonly [ngModel]="overtimeHour.id"/></label>
  <label>Performed at<p-calendar
    dateFormat="d/mm/yy"
    [ngModel]="overtimeHour.performedAt | date"
    (ngModelChange)="overtimeHour.performedAt = $event"
  ></p-calendar></label>
  <label>Started at<input type="text" pInputText [(ngModel)]="overtimeHour.startedAt"/></label>
  <label>Ended at<input type="text" pInputText [(ngModel)]="overtimeHour.endedAt"/></label>
  <label>Number of hours<input type="text" pInputText [(ngModel)]="overtimeHour.numberOfHours"/></label>
  <label>Expires at<input type="text" pInputText [(ngModel)]="overtimeHour.expiresAt"/></label>
  <label>Enabled<input type="text" pInputText [(ngModel)]="overtimeHour.enabled"/></label>
  <label>Legal day off<p-dropdown
    class="drop"
    [options]="daysOff"
    [(ngModel)]="overtimeHour.legalDayOffId"
    optionLabel="dayOff"
    dataKey="id"
  ></p-dropdown></label>
  <label>Valid number of days <p-dropdown
    class="drop"
    [options]="validNumberOfDays"
    [(ngModel)]="overtimeHour.validNumberOfDaysId"
    optionLabel="validNumberOfDays"
    dataKey="id"
  ></p-dropdown></label>
  <label>Is weekend
    <p-checkbox [(ngModel)]="overtimeHour.isWeekend" label="True" [binary]="true"></p-checkbox>
    <p-checkbox [(ngModel)]="overtimeHour.isWeekend" label="False" [binary]="false"></p-checkbox>
  </label>

  <div class="edit-button">
    <button pButton type="button" label="Save" icon="pi pi-check" (click)="save()"></button>
    <button pButton type="button" label="Cancel" icon="pi pi-time" (click)="cancel()"></button>
  </div>

</div>
