<div class="edit-oth">

  <label>PerformedAt<input type="text" pInputText [(ngModel)]="overtimeHour.performedAt"/></label>
  <label>StartedAt<input type="text" pInputText [(ngModel)]="overtimeHour.startedAt"/></label>
  <label>EndedAt<input type="text" pInputText [(ngModel)]="overtimeHour.endedAt"/></label>
  <label>NumberOfHours<input type="text" pInputText [(ngModel)]="overtimeHour.numberOfHours"/></label>
  <label>ExpiresAt<input type="text" pInputText [(ngModel)]="overtimeHour.expiresAt"/></label>
  <label>IsWeekend<input type="text" pInputText [(ngModel)]="overtimeHour.isWeekend"/></label>
  <label>Enabled<input type="text" pInputText [(ngModel)]="overtimeHour.enabled"/></label>
  <label>LegalDayOffId<p-dropdown [options]="zilele" [(ngModel)]="overtimeHour.legalDayOffId"></p-dropdown></label>
  <label>ValidNumberOfDaysId<input type="text" pInputText [(ngModel)]="overtimeHour.validNumberOfDaysId"/></label>


</div>
