<div class="OTHours">
  <div class="overtime-hours">
    <p-table class="ptable" [value]="overtimeHours">
      <ng-template pTemplate="header">
        <tr>
          <th>Id</th>
          <th>Performed at</th>
          <th>Started at</th>
          <th>Ended at</th>
          <th>Number of hours</th>
          <th>Expires at</th>
          <th>Is weekend</th>
          <th>enabled</th>
          <th>Legal day off</th>
          <th>Valid number of days</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-overtimeHour >
        <tr>
          <td>{{overtimeHour.id}}</td>
          <td>{{overtimeHour.performedAt}}</td>
          <td>{{overtimeHour.startedAt}}</td>
          <td>{{overtimeHour.endedAt}}</td>
          <td>{{overtimeHour.numberOfHours}}</td>
          <td>{{overtimeHour.expiresAt}}</td>
          <td>{{overtimeHour.isWeekend}}</td>
          <td>{{overtimeHour.enabled}}</td>
          <td>{{getLegalDayName(overtimeHour.legalDaysOffId)}}</td>
          <td>{{getValidNumberOfDays(overtimeHour.validNumberOfDaysId)}}</td>
          <td>
            <a [routerLink]="'/overtime-hours-edit/' + overtimeHour.id">Edit</a>
            &nbsp;
            <a href="#" (click)="delete(overtimeHour.id)">Delete</a>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <button pButton type="button" label="Add" (click)="add()"></button>
  <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
</div>
